.wallet-adapter-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: var(--nextui-radius-medium);
  color: hsl(var(--nextui-default));
}

.wallet-adapter-button > span {
  display: none;
}

.wallet-adapter-button-end-icon > img {
  height: 20px;
  width: 20px;
}

.wallet-adapter-button-trigger {
  height: 40px;
  padding: 0 12px;
  font-size: 12px;
  border-radius: var(--nextui-radius-medium);
  font-family: var(--font-sans);
  background-color: transparent;
  color: hsl(var(--nextui-foreground));
  border: 1px solid hsl(var(--nextui-default));
}

.wallet-adapter-button:not([disabled]):focus-visible {
  outline-color: hsl(var(--nextui-default-900));
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: hsl(var(--nextui-default-100));
  color: hsl(var(--nextui-default-900));
}

.wallet-adapter-button[disabled] {
  background: hsl(var(--nextui-default-200));
  color: hsl(var(--nextui-default-500));
  cursor: not-allowed;
}

.wallet-adapter-button-start-icon {
  background-color: hsl(var(--nextui-default-50));
  box-sizing: border-box;
  border-radius: calc(var(--nextui-radius-medium) / 2);
}

.wallet-adapter-button-end-icon {
  margin-left: 12px;
}

.wallet-adapter-button-start-icon {
  margin-right: 12px;
}

.wallet-adapter-button-end-icon,
.wallet-adapter-button-start-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.wallet-adapter-button-end-icon img,
.wallet-adapter-button-start-icon img {
  width: 20px;
  height: 20px;
}

.wallet-adapter-modal-list .wallet-adapter-button-end-icon,
.wallet-adapter-modal-list .wallet-adapter-button-start-icon {
  width: 28px;
  height: 28px;
}

.wallet-adapter-modal-list .wallet-adapter-button-end-icon img,
.wallet-adapter-modal-list .wallet-adapter-button-start-icon img {
  width: 20px;
  height: 20px;
}

.wallet-adapter-collapse {
  width: 100%;
}

.wallet-adapter-dropdown {
  position: relative;
  display: inline-block;
}

.wallet-adapter-dropdown-list {
  position: absolute;
  z-index: 99;
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: var(--nextui-radius-medium);
  padding: var(--nextui-radius-medium);
  top: 100%;
  right: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 200ms ease,
    transform 200ms ease,
    visibility 200ms;
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background: hsl(var(--nextui-background));
  box-shadow: none;
  border: 1px solid hsl(var(--nextui-default));
  border-radius: var(--nextui-radius-medium);
}

.wallet-adapter-dropdown-list-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(12px);
  background: hsl(var(--nextui-background));
  box-shadow: none;
  border: 1px solid hsl(var(--nextui-default));
  border-radius: var(--nextui-radius-medium);
}

.wallet-adapter-dropdown-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  border-radius: calc(var(--nextui-radius-medium) / 2);
  font-size: 14px;
  height: 36px;
  font-family: var(--font-sans);
  font-weight: 500;
  color: hsl(var(--nextui-default));
}

.wallet-adapter-dropdown-list-item:not([disabled]):hover {
  background-color: hsl(var(--nextui-default-100));
  color: hsl(var(--nextui-default-900));
}

.wallet-adapter-modal-collapse-button svg {
  align-self: center;
  fill: hsl(var(--nextui-default-400));
}

.wallet-adapter-modal-collapse-button.wallet-adapter-modal-collapse-button-active
  svg {
  transform: rotate(180deg);
  transition: transform ease-in 150ms;
}

.wallet-adapter-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity linear 150ms;
  background: transparent;
  z-index: 1040;
  overflow-y: auto;
  backdrop-filter: blur(5px);
}

.wallet-adapter-modal.wallet-adapter-modal-fade-in {
  opacity: 1;
}

.wallet-adapter-modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transform: scale(0.8);
}

.wallet-adapter-modal-button-close:focus-visible {
  outline-color: hsl(var(--nextui-default-900));
}

.wallet-adapter-modal-button-close svg {
  fill: hsl(var(--nextui-default));
  transition: fill 200ms ease 0s;
}

.wallet-adapter-modal-button-close:hover svg {
  fill: hsl(var(--nextui-default-900));
}

.wallet-adapter-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(var(--nextui-background));
  opacity: 0.5;
}

.wallet-adapter-modal-container {
  display: flex;
  margin: 3rem;
  min-height: calc(100vh - 6rem); /* 100vh - 2 * margin */
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .wallet-adapter-modal-container {
    margin: 1rem;
    min-height: calc(100vh - 2rem); /* 100vh - 2 * margin */
  }
}

.wallet-adapter-modal-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1050;
  max-width: 400px;
  border-radius: var(--nextui-radius-medium);
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  flex: 1;
  background-color: hsl(var(--nextui-background));
  box-shadow: none;
  border: 1px solid hsl(var(--nextui-default));
}

.wallet-adapter-modal-wrapper .wallet-adapter-button {
  width: 100%;
}

.wallet-adapter-modal-title {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  text-align: center;
  color: hsl(var(--nextui-default-900));
  line-height: 1.2;
  padding: 72px 48px 36px 48px;
  font-family: var(--font-sans);
}

@media (max-width: 374px) {
  .wallet-adapter-modal-title {
    font-size: 18px;
  }
}

.wallet-adapter-modal-list {
  margin: 0 0 12px 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.wallet-adapter-modal-list .wallet-adapter-button {
  font-weight: 400;
  border-radius: 0;
  font-size: 18px;
}

.wallet-adapter-modal-list .wallet-adapter-button span {
  margin-left: auto;
  font-size: 14px;
  opacity: 0.6;
}

.wallet-adapter-modal-list-more {
  cursor: pointer;
  border: none;
  padding: 12px 24px 24px 12px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: hsl(var(--nextui-default-900));
}

.wallet-adapter-modal-list-more svg {
  transition: all 0.1s ease;
  fill: hsl(var(--nextui-default-900));
  margin-left: 0.5rem;
}

.wallet-adapter-modal-list-more-icon-rotate {
  transform: rotate(180deg);
}

.wallet-adapter-modal-middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px 24px 24px;
  box-sizing: border-box;
}

.wallet-adapter-modal-middle-button {
  display: block;
  cursor: pointer;
  margin-top: 48px;
  width: 100%;
  background-color: hsl(var(--nextui-background));
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: var(--nextui-radius-medium);
  color: hsl(var(--nextui-default-900));
}
